<head>
    {% load django_simple_bulma %}
    {% bulma %}  
    {% load static %}  
  
  </head>
  <body class= "mt-6 pt-3  has-background-success-light">
    <div>
        {% include 'barraAdminDeCentro.html' %}
        <p class= 'ml-6 pt-3' style="text-align: left; font-size:25px">
            Bienvenid@ a VacunAssist {{NOMBRE}}
        </p>
          <br>
          <br>
          <br>
          <br>
       
    </div>
    <div class="mt-3 background-success-light">
      <p style="text-align:center;">
      <br>
      <br>
      <br>
      <br>
      Aca van los turnos actuales por vacuna y un total de las personas a atender por vacuna
      <br>
      <br>
      </p>
    </div>
  </div>
</body>