<head>
    {% load django_simple_bulma %}
    {% bulma %}  
    {% load static %}  
  <style>
  table {
    text-align: center;
    border: none;
    border-bottom: 1px solid;
    width: 100%;
}
td,tr,th{
    border: none;
    border-bottom: 1px solid;
    width: 20%;
    border: 1px solid;
}

table {
    border: solid;
}
a:link{color:rgb(0, 0, 0)}
a:hover{color:black}
a:active{color:black}
a{
  color:#000000;
  background:none;
}
</style>
<script src="https://kit.fontawesome.com/d09645e702.js" crossorigin="anonymous"></script>
</head>
  <body class= "mt-6 pt-3  has-background-success-light">
    <div>
        {% include 'barraAdminDeCentro.html' %}
        {% csrf_token %}
        <p class= 'ml-6 pt-3' style="text-align: left; font-size:25px">
          {% include 'messages.html' %}
        </p>       
    </div>
    <!--cantidades-->
    <div style= "background-color: rgba(191, 241, 201, 0.508);" class=" pb-2 pt-2 mt-3 has-background-success-light; ">
      <p class="ml-5 "> <b> Cantidad de personas para atender el dia de hoy {{hoy}} : </b></p>
      <div  class="m-5 p-2" style="  width: 15%; height: 10%; background-color: rgba(159, 34, 222, 0.508); border: 1px solid; float: left">
        <p style="text-align: center; "> COVID-19:&nbsp;&nbsp;&nbsp;{{cantC}}  <i class="fa-solid fa-user-large"></i></p> </div>
      <div  class="m-5 p-2" style=" width: 15%; height: 10%; background-color: rgb(145, 236, 152); border: 1px solid; float: left">
        <p style="text-align: center; "> Gripe:&nbsp;&nbsp;&nbsp; {{cantG}}  <i class="fa-solid fa-user-large"></i></p></div>
      <div  class="m-5 p-2" style="  width: 15%; height: 10%; background-color: rgb(193, 219, 126); border: 1px solid; float: left ">
        <p style="text-align: center; ">Fiebre A:&nbsp;&nbsp;&nbsp;{{cantF}}   <i class="fa-solid fa-user-large"></i></p></div>
      <div  class="m-5 p-2" style=" width: 15%; height: 10%; background-color: rgba(113, 114, 109, 0.449); border: 1px solid; float: left ">
        <p style="text-align: center; ">  Cantidad total:&nbsp;&nbsp;&nbsp; {{tot}}   <i class="fa-solid fa-user-large"></i></p></div>
      <div class="m-5 " style="  width: 10%; height: 10%;" ></div>
    </div>
    <!--buscar-->
    <div style= "background-color: #bff1c982;" class=" pb-2 pt-2 mt-3 has-background-success-light; "> 
      <form class="ml-5 p-2" method="post" action="buscar" >
        <p class="pb-3"> <b> Buscar Paciente </b></p>
        {% csrf_token %}
          <label for="token" class="mt-5">Ingrese DNI:</label> <input class="" name="dni" style="width: 15% " type="number" data-minlength="7" maxlength="8" placeholder="" required="" >      <input  type="submit" value="Continuar">
      </form>
      {%if turnobuscado != 0 and turnobuscado != 1 and turnobuscado != 2 %}
      <table style= "background-color: #6e727065; width: 70%; border: none;" class="ml-4 pl-5 pt-2 pb-2 mb-2">
      <tbody>
      <tr>
        <td style="width: 10%;">Nombre: {{ turnobuscado.patient.nombre }} {{ turnobuscado.patient.surname }}</td>
        <td style="width: 10%;">DNI: {{ turnobuscado.patient.DNI }} </td>
        <td style="width: 10%;">Vacuna: {{ turnobuscado.vaccine.name }} </td>
        <th style="width: 8%; border:none "> <a href="" target="_self"> Presente </a></th>
      </tr>
     </tbody>
     </table>
     <p class=" ml-5"> <b> {{turnobuscado.id}} {{turnobuscado.vaccine.name}} </b></p>
     <!--mensajes-->
     <div >
      {%else%}
        {%if turnobuscado == 1 %}
          <p  style= "background-color: #f8780865; width: 45%" class="ml-4 pl-5 pt-2 pb-2 mb-2"> <b> El paciente no tiene turno para hoy. </b></p>
        {%else%}
        {%if turnobuscado == 2 %}
          <p  style= "background-color: #f8780865; width: 45%" class="ml-4 pl-5 pt-2 pb-2 mb-2"> <b> El paciente no esta registrado en el sistema. </b></p>
        {%endif%}
        {%endif%}
      {%endif%}
      <!--<p style= "background-color: #f8780865; width: 45%" class="ml-4 pl-5 pt-2 pb-2 mb-2" > <b> {{turnobuscado}}</b></p>-->
    </div>
  </div>
  <!--marcar todo como ausente-->
  <div style= "background-color: rgba(191, 241, 201, 0.508);" class=" pb-2 pt-2 mt-3 has-background-success-light; "> 
    {%if ok == 1 %}
    <form class="ml-5 p-2" method="post" action="ausentes" >
      {% csrf_token %}
          <legend class="pt-1">¿Desea marcar todos los turnos como ausentes?</legend>
          <p class="pt-2">
          <label>
            <input type="radio" name="respuesta" value="SI"> SI
          </label>
          <br>
          <label>
              <input type="radio" name="respuesta" value="NO" checked> NO
          </label>
        </p>
        <p class="pt-2"><input  type="submit" value="Continuar"></p>
  </form>
  {%else%}
  <button class="ml-5 p-2"><a class="navbar-item" href="http://127.0.0.1:8000/ausentes" target="_self"> Marcar los turnos Ausentes los turnos incompletos.</a></button>
  {%endif%}
</div>
    <div class="mt-3 has-background-success-light; ">
      <!--vacuna del covid-->
      <div  class="m-5 p-2" style=" overflow:auto; width: 45%; height: 50%; background-color: rgba(159, 34, 222, 0.508); border: 2px solid; float: left">
       <p style="text-align: center; "> <b> TURNOS PARA HOY COVID-19 </b></p>
        {% if covid != 0 %}
        <table>
        <thead>
          <tr>
            <th>Nombre completo</th>
            <th style="width: 10%;">DNI</th>
            <th style="width: 8%;">Dosis</th>
            <th style="width: 20%; border:none"> Estado </th>
           </tr>
        </thead>
        <tbody>
          {% for covid in covid %}
          <tr>
            <td>{{ covid.patient.name }} {{ covid.patient.surname }}</td>
            <td style="width: 10%;">{{ covid.patient.DNI }} </td>
            {%if  covid.patient.history.covid_doses == 0 %}
            <td style="width: 8%;"> 1 </td>
            {%else%}
            <td style="width: 8%;"> 2 </td>
            {%endif%}
            <th style="width: 20%; border:none "> <a href="/completarTurno/{{covid.id}}/covid" target="_self"> Presente </a></th>
          </tr>
          {% endfor %}
        </tbody>
       </table>
       {%else%}
       <br>
        <br>
       <br>
       <p style="text-align: center;">No hay turnos pendientes para el covid</p>
       {% endif %}
      </div>
       <!--vacuna del gripe-->
      <div  class="m-5 p-2" style=" overflow:auto; width: 45%; height: 50%; background-color: rgb(145, 236, 152);border: 2px solid; float: left">
      <p style="text-align: center; "> <b> TURNOS PARA HOY GRIPE </b></p>
      {% if gripe != 0 %}
        <table>
        <thead>
          <tr>
            <th>Nombre completo</th>
            <th style="width: 10%;">DNI</th>
            <th style="width: 20%; border:none"> Estado </th>
           </tr>
        </thead>
        <tbody>
          {% for gripe in gripe %}
          <tr>
            <td>{{ gripe.patient.name }} {{ gripe.patient.surname }}</td>
            <td style="width: 10%;">{{ gripe.patient.DNI }} </td>
            <th style="width: 20%; border:none"><a href="/completarTurno/{{gripe.id}}/gripe" target="_self"> Presente </a></th>
          </tr>
          {% endfor %}
        </tbody>
       </table>
       {%else%}
       <br>
       <br>
       <br>
       <p style="text-align: center;">No hay turnos pendientes para la gripe</p>
       {% endif %}
      </div>
      <!--vacuna de la fiebre-->
      <div  class="m-5 p-2" style=" overflow:auto; width: 45%; height: 50%; background-color: rgb(193, 219, 126);border: 2px solid;">
      <p style="text-align: center; "> <b> TURNOS PARA HOY FIEBRE AMARILLA</b></p>
      {% if fiebre != 0 %}
         <table>
         <thead>
           <tr>
             <th>Nombre completo</th>
             <th style="width: 10%;">DNI</th>
             <th style="width: 20%; border:none"> Estado </th>
            </tr>
         </thead>
         <tbody>
           {% for fiebre in fiebre %}
           <tr>
             <td>{{ fiebre.patient.name }} {{ fiebre.patient.surname }}</td>
             <td style="width: 10%;">{{ fiebre.patient.DNI }} </td>
             <th style="width: 20%; border:none"><a href="/completarTurno/{{fiebre.patient_id}}/fiebre" target="_self"> Presente </a></th>
           </tr>
           {% endfor %}
        </tbody>
       </table>
       {%else%}
       <br>
       <br>
       <br>
       <p style="text-align: center;">No hay turnos pendientes para la fiebre</p>
       {% endif %}
     </div>
    </div>
    <div>
    </div>
</body>