<head>
    {% load django_simple_bulma %}
    {% bulma %}  
    {% load static %}  
  
  </head>
  <body class= "mt-6 pt-3  has-background-success-light">
    <div>
      {% include 'barraUsuarioLogeadoNormal.html' %}
      <h1>
        {% if user.sex == M %}
        <p class= 'ml-6 pt-3 mb-4' style="text-align: left; font-size:25px">
            Bienvenida a VacunAssist {{NOMBRE}}
        </p>
        {% else %}
        <p class= 'ml-6 pt-3 mb-6' style="text-align: left; font-size:25px">
            Bienvenido a VacunAssist {{NOMBRE}}
        </p>
        {% endif %}
      </h1>
        <p style="text-align:center;">
          <p class="is-size-3 ml-6 has-text-weight-bold">Turnos</p>
          <br>
          <br>
          
            {% if turnos|length > 0 %}
              {% for turno in turnos %}
                {% if turno.vaccine.name == "Covid" %}
                <div class="box is-size-5 mx-6" style="background-color: rgba(159, 34, 222, 0.508)">
                {% elif turno.vaccine.name == "Gripe" %}
                <div class="box is-size-5 mx-6" style="background-color: rgb(145, 236, 152)" > 
                {% else %}
                <div class="box is-size-5 mx-6" style="background-color: rgb(193, 219, 126)" > 
                {% endif %}
                  <p>Vacuna: {{ turno.vaccine }} {% if turno.vaccine.name == "Covid" %} Dosis: {{ dosis }} {% endif %}</p>
                  <p>
                  Estado:
                  {% if turno.state == 0 %}
                  Pendiente</p>
                  {% elif turno.state == 1 %}
                  Asignado</p>
                  {% elif turno.state == 2 %}
                  Dado</p>
                  {% else %}
                  Anda mal</p>  
                  {% endif %}                 
                  </p>
                  <p>Centro de vacunacion: {{ turno.center }} <br>
                    Dirección: {{ turno.center.adress }} </p>
                </div>
              {% endfor %}          
            {% else %}
              <div class="box is-size-5 mx-6" style="background-color: rgba(113, 111, 114, 0.508)"> Usted no tiene turnos
              </div>                   
            {% endif %}          
            {% if fiebre_disp %}
              <div class="box is-size-5 mx-6" style="background-color: rgba(63, 63, 63, 0.274)">
                <a href="/turnoFiebreA">Solicitar turno para Fiebre Amarilla</a>
            </div>
   
          {% endif %}
          <br>
          <br>
        </p>
      </h1>
    </div>
    <div class="mt-3 background-success-light">
      <p style="text-align:center;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      </p>
    </div>
  </div>
</body>