<head>
    {% include 'base.html' %}
    {% load django_simple_bulma %}
    {% bulma %}
</head>
<body class= " mt-6 pt-3 background-success-light">
    {% include 'barraUsuarioLogeadoNormal.html' %}
    <div class= ml-4><h2 class="title"> Modificar Informacion Personal</h2></div>
    <div class="box mt-3 background-success-light" >
        <p class="subtitle is-6">Mail Actual: {{usuario.email}}   
        <p class=" mt-5 subtitle is-6"> Centro Actual: {{usuario.center}}
        <div class=" mt-6">
        <button class="button is-success is-focused"><a class="button is-success is-focused" href="http://127.0.0.1:8000/modMail" target="_self" >Modificar Mail</a></button></div><br/>
        <div> <button class="button is-success is-focused"><a class="button is-success is-focused" href="http://127.0.0.1:8000/modContraseña" target="_self">Modificar Contraseña</a></button></div> 
        <div class=" mt-5"> <button class="button is-success is-focused"><a class="button is-success is-focused" href="http://127.0.0.1:8000/" target="_self">Cambiar mi centro de preferencia</a></button></div><br/>
        <br/>{% for message in messages %}
        <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
                 {{ message }}
        </div>
        {% endfor %}
    </div>
</body>