<head>
    {% load django_simple_bulma %}
    {% bulma %}
  
  </head>
  <!--comentarios-->
<body class= "mt-6 pt-3 background-success-light">
    {% include 'base.html' %}
    <div class= ml-4><h2 class="title"> Modificar contraseña:</h2></div>
        <div class="box mt-3 background-success-light" >
            <input class="input is-primary " style="width: 35% ;" type="password" placeholder="Contraseña Actual"> <br/>
            <p class="mt-5"> La nueva contraseña debe tener: al menos una mayuscula y al menos 8 caracteres.</p>
            <input class="input is-primary mt-3" style="width: 35% ;" type="password" placeholder="Contraseña Nueva" required="" minlength="8"><br/>
            <input class="input is-primary mt-3" style="width: 35% ;" type="password" placeholder="Contraseña Nueva" required="" minlength="8"><br/>
        <div class=" mt-5">
        <button class="button"> <a class="navbar-item" href="http://127.0.0.1:8000/modificarInfo" target="_self">Atras</a></button>
        <button class="button"> <a class="navbar-item" href="http://127.0.0.1:8000/infoPersonal" target="_self"></a> Confirmar </button></div> 
    </div>
</body>