<head>
    {% load django_simple_bulma %}
    {% bulma %}
  
  </head>
  <!--comentarios-->
<body class= "mt-6 pt-3">
    {% include 'base.html' %}
    <div class= ml-4><h2 class="title"> Modificar Mail:</h2></div>
    <div class="box mt-3" >
        <input class="input is-primary mt-3" style="width: 35% ;" type="text" placeholder="Mail Nuevo"><br/>
        <input class="input is-primary mt-3" style="width: 35% ;" type="text" placeholder="Mail Nuevo"><br/>
        <div class=" mt-5"> <button class="button"> Confirmar </button></div>
    </div>
</body>