<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
</head>

<body class= "mt-6 pt-3  has-background-success-light">
  <div>
    {% include 'barraUsuarioLogeadoNormal.html' %}
    <div class=ml-4><h2 class="title"> Modificar Mail</h2></div>
      <div class="box mt-3 background-success-light">
        <form action="/validarMail" method="post">
            {% csrf_token %}
            <input class="input is-primary mt-3" style="width: 35% ;" type="email" placeholder="Mail Nuevo" required="" name="mailNuevo"><br/>
            <input class="input is-primary mt-3" style="width: 35% ;" type="email" placeholder="Repetir nuevo mail" required="" name="mailNuevoRepetido"><br/>
            <div class=" mt-5"> 
              <button class="button"> <a class="navbar-item" href="http://127.0.0.1:8000/modificarInfo" target="_self"> Cancelar </a></button>     
              <button class="button"> Confirmar </button>
            </div>
        </form>
      </div>
    {% include 'messages.html' %}
  </div>
</body>