<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
</head>

<body class= "mt-6 pt-3 background-success-light">
  <div class="page mt-6 pt-3 mx-3 is-flex-column">
    <section class="section">
      <h2 class="title pb-4">Observaciones y Descripcion del turno</h2>
      <form method="post" action="/pasarPresente/{{ }}" class="form">
        {% csrf_token %}
        <div class="field is-size-5">{{ form.fiebreA.label }}</div>
        <div class="field is-size-5">{{ form.fiebreA }}</div>
        <div class="field is-size-5">{{ form.fiebreA_date.label }}</div>
        <div class="field is-size-5"> {{ form.fiebreA_date }}</div>
        <button class="button is-size-5" type="submit" name="registro">Continuar</button>
      </form>
      {% include 'messages.html' %}
    </section>
  </div>
</body>