<head>
    {% include 'base.html' %}
    {% load django_simple_bulma %}
    {% bulma %}
</head>
<body class= " mt-6 pt-3  has-background-success-light">
    {% include 'base.html' %}
    <div class= ml-4><h2 class="title"> Centros Actuales</h2></div>
    <div class="box mt-3 background-success-light" >
        {% for centro in todosLosCentros %}
        <div>
            <br>
            <button class="button is-success is-focused"><a class="button is-success is-focused" href="/modificarCentro/{{centro.id}}" target="_self"> {{ centro.name }} </a></button>
            <br>
        </div>
        {% endfor %}
    </div>
    {% include 'messages.html' %}
</body>