<head>
</head>
<body>
    <div style="background-color: #B6FF7E;">
    
    <p style="font-size: xx-large;"> No se dio la vacuna contra la gripe</p>
    </div>
    
    <div style="background-color: #7167e0;">
    
    <p style="font-size: xx-large;"> No se dio la vacuna contra la fiebre amarilla</p>
    </div>
    
    <div style="background-color: #e09367;">
    
        <p style="font-size: xx-large;">Vacuna:  Dosis n°: None</p>
        <p style="font-size: xx-large;">Centro de vacunacion: </p>
        <p style="font-size: xx-large;">Fecha: </p>
    </div>
    
    </div>
</body>