<head>
</head>
<body>
    <div style="background-color: #B6FF7E;">
    
        <p style="font-size: xx-large;">Vacuna: Gripe</p>
        <p style="font-size: xx-large;">Centro de vacunacion: Municipalidad</p>
        <p style="font-size: xx-large;">Fecha: Jan. 1, 2000</p>
    </div>
    
    <div style="background-color: #7167e0;">
    
    <p style="font-size: xx-large;"> No se dio la vacuna contra la fiebre amarilla</p>
    </div>
    
    <div style="background-color: #e09367;">
    
        <p style="font-size: xx-large;">Vacuna: Covid Dosis n°: 1</p>
        <p style="font-size: xx-large;">Centro de vacunacion: Municipalidad</p>
        <p style="font-size: xx-large;">Fecha: Jan. 1, 2000</p>
    </div>
    
    </div>
</body>