<head>
</head>
<body>
    <div style="background-color: rgba(159, 34, 222, 0.508);">
    
    <p style="font-size: xx-large;"> No se dio la vacuna contra la gripe</p>
    </div>
    
    <div style="background-color:  rgb(145, 236, 152);">
    
    <p style="font-size: xx-large;"> No se dio la vacuna contra la fiebre amarilla</p>
    </div>
    
    <div style="background-color: rgb(193, 219, 126);">
    
        <p style="font-size: xx-large;">Vacuna: Covid Dosis n°: 1</p>
        <p style="font-size: xx-large;">Centro de vacunacion: Municipalidad</p>
        <p style="font-size: xx-large;">Fecha: None</p>
    </div>
    
    </div>
</body>