<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% load static %} 
</head>

<body>   
  {% include 'barraAdminPrincipal.html' %}
  <div class="is-flex mt-6 gap-4 is-align-items-baseline is-flex-grow-3">
  <form action="/asignarTurnos/{{fecha}}/" method="post">
    {% csrf_token %}
    <table class="table background-grey-light" >
      <thead>
        <tr>
          <th><a href="http://127.0.0.1:8000/turnosParaAsignar/nombre/{{pagina.number}}" target="_self">Nombre</a></th>
          <th><a href="http://127.0.0.1:8000/turnosParaAsignar/centro/{{pagina.number}}" target="_self">Centro</a></th>
          <th><a href="http://127.0.0.1:8000/turnosParaAsignar/vacuna/{{pagina.number}}" target="_self">Vacuna</a></th>
          {% if fecha %}
          <th>Asignar para {{fecha}}</th>
          {% else %}
          <th>Seleccione una fecha</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
    {% for turno in pagina %}
      <tr>
        <th>{{turno.patient.surname}} {{turno.patient.name}}</th>
        <td>{{turno.center.name}}</td>
        <td>{{turno.vaccine.name}}</td>
        {% if fecha %}
        <td><label class="checkbox">
          <input type="checkbox" name="turnos[]" value="{{turno.id}}">
          Seleccionar
        </label>
        </td>
        {% else %}
        <td><label class="checkbox" disabled>
          <input type="checkbox" disabled>
          Seleccionar
        </label>
        </td>
        {% endif %}

      </tr>
    {% endfor %}
      </tbody>
    </table>
    <button class="button" type="submit">Asignar Turnos</button>  
  </form>
    

  <form class="mt-2 pl-2" action="http://127.0.0.1:8000/turnosParaAsignar/centro/{{pagina.number}}/" method="post">
    {% csrf_token %}
    <div class="field">
      {% if fecha %}
      <input class="input is-primary is-focused" type="date" placeholder="DD/MM/AAAA" value="{{fecha}}" name="fecha">
      {% else %}
      <input class="input is-primary is-focused" type="date" placeholder="DD/MM/AAAA" name="fecha">
      {% endif %}
    </div>
  <button class="button" type="submit">Seleccionar Fecha</button>
</form>
</div>
{% for pagina in paginas %}
<a class="button" href="http://127.0.0.1:8000/turnosParaAsignar/centro/{{pagina.number}}">{{pagina.number}}</a>
{% endfor %}

</body>