<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% load static %} 
</head>

<body>   
  {% include 'barraAdminPrincipal.html' %}
  <table class="table background-grey-light mt-6">
    <thead>
      <tr>
        <th><a href="http://127.0.0.1:8000/turnosAsignados/nombre/{{pagina.number}}" target="_self">Nombre</a></th>
        <th><a href="http://127.0.0.1:8000/turnosAsignados/centro/{{pagina.number}}" target="_self">Centro</a></th>
        <th><a href="http://127.0.0.1:8000/turnosAsignados/vacuna/{{pagina.number}}" target="_self">Vacuna</a></th>
        <th><a href="http://127.0.0.1:8000/turnosAsignados/fecha/{{pagina.number}}" target="_self">Fecha</a></th>
        <th>Cancelar</th>
      </tr>
    </thead>
    <tbody>
{% for turno in pagina %}
<tr>
  <th>{{turno.patient.surname}} {{turno.patient.name}}</th>
  <td>{{turno.center.name}}</td>
  <td>{{turno.vaccine.name}}</td>
  <td>{{turno.date}}</td>
  <form action="http://127.0.0.1:8000/cancelarTurno/" method="post">
    {% csrf_token %}
    <td><label class="radio">
      <button class="button" type="submit" name="turno" value="{{turno.id}}">
      Cancelar fecha
    </label>
    </td>
  </form>
</tr>
{% endfor %}
    </tbody>
  </table>
<div class="section">
  {% for pagina in paginas %}
  <a class="button" href="http://127.0.0.1:8000/turnosAsignados/centro/{{pagina.number}}">{{pagina.number}}</a>
  {% endfor %}
</div>
</body>