<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% load static %} 
</head>

<body>   
  {% include 'barraAdminPrincipal.html' %}
  <div class="is-flex mt-6 is-justify-content-space-around">
  <form action="/asignarTurnos/{{fecha}}/{{pagina.number}}/{{filtro}}" method="post">
    {% csrf_token %}
    <table class="table" >
      <thead>
        <tr>
          <th><a href="http://127.0.0.1:8000/turnosParaAsignar/nombre/{{pagina.number}}" target="_self">Nombre</a></th>
          <th><a href="http://127.0.0.1:8000/turnosParaAsignar/centro/{{pagina.number}}" target="_self">Centro</a></th>
          <th><a href="http://127.0.0.1:8000/turnosParaAsignar/vacuna/{{pagina.number}}" target="_self">Vacuna</a></th>
          {% if fecha %}
          <th>Asignar para {{fecha}}</th>
          {% else %}
          <th>Seleccione una fecha</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
    {% for turno in pagina %}
      <tr>
        <th>{{turno.patient.surname}} {{turno.patient.name}}</th>
        <td>{{turno.center.name}}</td>
        <td>{{turno.vaccine.name}}</td>
        {% if fecha %}
        <td><label class="checkbox">
          <input type="checkbox" name="turnos[]" value="{{turno.id}}">
          Seleccionar
        </label>
        </td>
        {% else %}
        <td><label class="checkbox" disabled>
          <input type="checkbox" disabled>
          Seleccionar
        </label>
        </td>
        {% endif %}

      </tr>
    {% endfor %}
      </tbody>
    </table>
    {% if fecha %}
    <button class="button" type="submit">Asignar Turnos</button>  
    {% endif %}
  </form>
    

  <form class="mt-2 pl-2" action="http://127.0.0.1:8000/turnosParaAsignar/{{filtro}}/{{pagina.number}}/" method="post">
    {% csrf_token %}
    <div class="field">
      {% if fecha %}
      <input class="input is-primary is-focused" type="date" placeholder="DD/MM/AAAA" value="{{fecha}}" name="fecha">
      {% else %}
      <input class="input is-primary is-focused" type="date" placeholder="DD/MM/AAAA" name="fecha">
      {% endif %}
      
      {% include 'messages.html' %}
    </div>
  <button class="button" type="submit">Seleccionar Fecha</button>
</form>
  <div>
  {% if cantidades %}
    {% for centro,vacs in cantidades.items %}
      <div class="box">
      <p class="is-size-3 is-bold">{{ centro }}</p>
        {% for vac in vacs %}
          <p class="is-size-5">{{ vac }}</p>
        {% endfor %}
      </div>  
    {% endfor %}
  {% endif %}
  </div>
</div>

<div class="section">
  {% for pagina in paginas %}
  <a class="button" href="http://127.0.0.1:8000/turnosParaAsignar/{{filtro}}/{{pagina.number}}">{{pagina.number}}</a>
  {% endfor %}
  </div>
</body>