
<head>
    {% include 'base.html' %}
    {% load django_simple_bulma %}
    {% bulma %}
  </head>

<body class= "mt-6 pt-3">
    {% include 'base.html' %}
    <div class="box" >
        <div class="box" >
            <p class="subtitle is-5">Nombre y Apellido: </p>
            <p class="subtitle is-5">Mail: </p>
            <p class="subtitle is-5">Sexo: </p>
            <p class="subtitle is-5">Edad: </p>
            <p class="subtitle is-5">Vacunatorio de preferencia: </p>
        </div>  
    </div>
</body>