
<head>
    {% include 'base.html' %}
    {% load django_simple_bulma %}
    {% bulma %}
</head>

<body class= "mt-6 pt-3 background-success-light">
    {% include 'barraUsuarioLogeadoNormal.html' %}
    <div class= ml-4><h2 class="title">Informacion Personal</h2></div>
    <div class="box" >
        <div class="box" >
            <p class="subtitle is-5">Nombre y Apellido: {{usuario.name}} {{usuario.surname}} </p>
            <p class="subtitle is-5">Mail: {{usuario.email}} </p>
            <p class="subtitle is-5">Sexo: {{usuario.sex}} </p>
            <p class="subtitle is-5">Edad: {{edad}} </get></p>
            <p class="subtitle is-5">Vacunatorio de preferencia: {{usuario.center}} </p>
        </div> 
    </div>
</body>