
<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
</head>

<body class= "mt-6 pt-3 background-success-light">
  {% include 'base.html' %}
  <div class="page mt-6 pt-3 mx-3 is-flex-column">
    <section class="section">
      <h2 class="title">Vacuna Covid-19</h2>
    
      <br>
      <h2 class="subtitle is-size-4">¿Se ha aplicado alguna vacuna contra el covid-19?</h2>
      <form method="post" action="/registerCovid" class="form">
        {% csrf_token %}
        <div class="field is-size-5">{{ form.covid.label }}</div>
        <div class="field">{{ form.covid }}</div>
        <br>
        <div class="field is-size-5">{{ form.covid_date.label }}</div>
        <div class="field">{{ form.covid_date }}</div>
        <br>
        <button class="button" type="submit", name="registro">Continuar</button>
      </form>
      {% for message in messages %}
      <div class="alert alert-success">
      <a class="close" href="#" data-dismiss="alert">×</a>
               {{ message }}
      </div>
      {% endfor %}
    </section>

  </div>  
</body>

