<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
  {% csrf_token %}
  <script src="../../scripts/pruebaemails.py" language="python"></script>
</head>

<body class="has-background-success-light">
  {% include 'base.html' %}
  <div class="page mt-6 pt-3 mx-3 is-flex-column">
    <section class="section">
      <h2 class="title">Seleccion de Centro de Vacunacion</h2>
    </section>
    <section class="section">
      <h2 class="subtitle"></h2>
      <form method="post" action="/registerCentro" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button" type="submit" name="registro">Finalizar Registro</button>
      </form> 
    </section>
  </div>  
</body>

