
<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
</head>

<body class="has-background-success-light">
  {% include 'base.html' %}
  <div class="page mt-6 pt-3 mx-3 is-flex-column">
    <section class="section">
      <h2 class="title">Vacuna contra la Fiebre Amarilla</h2>
    </section>
    <section class="section">
      <h2 class="subtitle"></h2>
      <form action="http://127.0.0.1:8000/registerGripe" class="form">
        
        <div class="field">
          <div class="control">
            <div class="label">Se ha aplicado la vacuna contra la fiebre amarilla?</div>
            <label class="radio">
              <input type="radio" name="aplico">
              Yes
            </label>
            <label class="radio">
              <input type="radio" name="aplico">
              No
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <div class="label">Desea aplicarse esta vacuna?</div>
            <label class="radio">
              <input type="radio" name="desea">
              Yes
            </label>
            <label class="radio">
              <input type="radio" name="desea">
              No
            </label>
          </div>
        </div>

        <input class="button" type="submit" value="Continuar"></input>
      </form>

      

      
    </section>

  </div>  
</body>

