
<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
</head>

<body class= "mt-6 pt-3  has-background-success-light">
  {% include 'base.html' %}
  <div class="page mt-6 pt-3 mx-3 is-flex-column">
    <section class="section">
      <h2 class="title">Vacuna Covid-19</h2> 
      <br>
      <form method="post" action="/registerCovid" class="form">
        {% csrf_token %}
        <div class="field is-size-4">{{ form.covid.label }}</div>
        <div class="field is-size-5">{{ form.covid }}</div>
        <div class="field is-size-4">{{ form.covid_date.label }}</div>
        <div class="field is-size-5">{{ form.covid_date }}</div>
        <br>
        <button class="button is-size-5" type="submit", name="registro">Continuar</button>
      </form>
      {% include 'messages.html' %}
    </section>
  </div>  
</body>