<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
  <script src="../../scripts/pruebaemails.py" language="python"></script>
</head>

<body class= "mt-6 pt-3 has-background-success-light">
  {% include 'base.html' %}
  <div class="page mt-6 pt-3 mx-3 is-flex-column">
    <section class="section">
      <h2 class="title pb-4">Seleccion de Centro de Vacunacion</h2>
      <form method="post" action="/registerCentro" class="form">
      {% csrf_token %}
      <div class="field is-size-4">{{ form.center.label }}</div>
      <div class="field is-size-5">{{ form.center }}</div>
      <button class="button is-size-5" type="submit" name="registro">Finalizar Registro</button>
      </form> 
    </section>
  </div>  
</body>