<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
</head>

<body class= "mt-6 pt-3 background-success-light">
  {% include 'base.html' %}
  <div class="page mt-6 pt-3 mx-3">
    <section class="section">
      <h2 class="title">Datos Personales</h2>
      <form method="post" action="/register" class="form">
        {% csrf_token %}
        <div class="field is-size-5">{{ form.name.label }} {{ form.name }} {{ form.surname.label }} {{ form.surname }}</div>
        <div class="field is-size-5">{{ form.email.label }} {{ form.email }}</div>
        <div class="field is-size-5">{{ form.DNI.label }} {{ form.DNI }}</div>
        <div class="field is-size-5">{{ form.birthDate.label }} {{ form.birthDate }}</div>
        <div class="field is-size-5">{{ form.sex.label }} {{ form.sex }}</div>
        <div class="field is-size-5">{{ form.password1.label }}  {{ form.password1 }}</div>
        <div class="field is-size-5">{{ form.password2.label }}  {{ form.password2 }}</div>
        <button class="button is-size-5" type="submit", name="registro">Continuar</button>
      </form>
      {% include 'messages.html' %}
    </section>
  </div>  
</body>