
<head>
  {% load django_simple_bulma %}
  {% bulma %}
  {% font_awesome %}
</head>

<body class= "mt-6 pt-3 background-success-light">
  {% include 'base.html' %}
  <div class="page mt-6 pt-3 mx-3 is-flex-column">
    <section class="section">
      <h2 class="title pb-4">Vacuna contra la Gripe</h2>
      <form method="post" action="/registerGripe" class="form">
        {% csrf_token %}
        <div class="field is-size-5">{{ form.gripe.label }}</div>
        <div class="field is-size-5">{{ form.gripe }}</div>
        <div class="field is-size-5">{{ form.gripe_date.label }}</div>
        <div class="field is-size-5">{{ form.gripe_date }}</div>

        <button class="button is-size-5" type="submit" name="registro">Continuar</button>
      </form>
      {% for message in messages %}
      <div class="alert alert-success">
      <a class="close" href="#" data-dismiss="alert">×</a>
               {{ message }}
      </div>
      {% endfor %} 
    </section>
  </div>  
</body>

